<nav class="navbar navbar-mibig">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="components/header/mibig_logo.svg" alt="MIBiG logo" width="75px" style="margin-top: -10px">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#!/">
            <i class="fa fa-home"></i> &nbsp; Home</a>
        </li>
        <li>
          <a href="#!/stats">
            <i class="fa fa-bar-chart"></i> &nbsp; Statistics</a>
        </li>
        <li>
          <a href="#!/query">
            <i class="fa fa-search"></i> &nbsp; Search</a>
        </li>
        <li>
          <a href="#!/browse">
            <i class="fa fa-compass"></i> &nbsp; Repository</a>
        </li>
        <li>
          <a href="#!/submit">
            <i class="fa fa-paper-plane"></i> &nbsp; Submit</a>
        </li>
        <li>
          <a href="#!/download">
            <i class="fa fa-download"></i> &nbsp; Download</a>
        </li>
        <li>
          <a href="#!/contact">
            <i class="fa fa-envelope"></i> &nbsp; Contact</a>
        </li>
      </ul>
    </div>
  </nav>