<div class="container-fluid">
    <h2>
        {{$ctrl.title}}
    </h2>

    <style>
        .hidden {
            display: none;
        }
        a.active {
            text-decoration: underline;
            color: red;
        }
    </style>
    <div style="display: flex;">
        <div style="margin: 1em;">
            <a href ng-click="$ctrl.page=1" ng-class="$ctrl.page==1? 'active':''"><h4>Loci</h4></a>
        </div>
        <div style="margin: 1em;">
            <a href ng-click="$ctrl.page=2" ng-class="$ctrl.page==2? 'active':''"><h4>Compounds</h4></a>
        </div>
        <div style="margin: 1em;">
            <a href ng-click="$ctrl.page=3" ng-class="$ctrl.page==3? 'active':''"><h4>Details</h4></a>
        </div>
    </div>
    <div ng-class="$ctrl.page==1? '':'hidden'">
        <ul ng-repeat="loci in $ctrl.bgcSeq.loci">
            <li>
                <h3>Loci {{$index + 1}}: {{loci.nucl_acc}} <span ng-if="loci.start_pos">({{loci.start_pos}}-{{loci.end_pos}})</span></h3>
                <mibig-arrower arrower="{{$ctrl.arrower_jsons[$index]}}">
                </mibig-arrower>
            </li>
        </ul>
    </div>
    <div ng-class="$ctrl.page==2? '':'hidden'">
        <ul ng-repeat="compound in $ctrl.bgcAnnot.general_params.compounds">
            <li>
                <h3>Compound {{$index + 1}}: {{compound.compound}}</h3>
                <div ng-if="compound.chem_struct">
                    <mibig-smiles smiles="{{compound.chem_struct}}"></mibig-smiles>
                    <br />
                </div>
                <div>
                    Molecular Formula: {{compound.molecular_formula}}
                </div>
                <div ng-if="compound.mol_mass">
                    Mass: {{compound.mol_mass}} nz
                </div>
                <div>
                    Evidences:
                    <ul>
                        <li ng-repeat="ev in compound.evidence_struct">
                            {{ev}}
                        </li>
                    </ul>
                </div>
                <div>
                    Synonyms:
                    <ul>
                        <li ng-repeat="syn in compound.chem_synonyms">
                            {{syn}}
                        </li>
                    </ul>
                </div>
                <div>
                    PubChem: {{compound.pubchem_id}}
                </div>
                <div>
                    ChEBI: {{compound.chebi_id}}
                </div>
                <div>
                    ChEMBL: {{compound.chembl_id}}
                </div>
                <div>
                    ChemSpider: {{compound.chemspider_id}}
                </div>
            </li>
        </ul>
    </div>
    <div ng-class="$ctrl.page==3? '':'hidden'">
        <h3>Annotation</h3>
        <div ng-if="$ctrl.error_annot.length < 1">
            <span style="color: green;">
                Annotation JSON is validated.
            </span>
        </div>
        <div ng-else>
            <div ng-repeat="message in $ctrl.error_annot">
                <span style="color: red;">
                    {{message}}
                </span>
            </div>
        </div>
        <json-formatter json="$ctrl.bgcAnnot" open="1"></json-formatter>
        <h3>Sequence</h3>
        <div ng-if="$ctrl.error_seq.length < 1">
                <span style="color: green;">
                    Sequence JSON is validated.
                </span>
        </div>
        <div ng-else>
            <div ng-repeat="message in $ctrl.error_seq">
                <span style="color: red;">
                    {{message}}
                </span>
            </div>
        </div>
    
        <json-formatter json="$ctrl.bgcSeq" open="1"></json-formatter>
    </div>
</div>