<div class="container-fluid">

    <div class="page-header">
        <h1>MIBiG Repository</h1>
    </div>

    <div class="row">
        This repository contains all complete and partial entries as of August 6th, 2018.
        <br />
        <table st-table="$ctrl.table_data" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="id" st-sort-default="true" st-skip-natural="true">MIBiG accession</th>
                    <th>Full/partial MIBiG info</th>
                    <th>Main product</th>
                    <th>Biosynthetic class</th>
                    <th>Loci</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in $ctrl.table_data">
                <td>
                    <a href="#!/detail/{{row.id}}">{{row.id}}</a>
                </td>
                <td>
                    {{row.minimal? 'Partial':'Full'}}
                </td>
                <td>
                    <ul>
                        <li ng-repeat="compound in row.products">
                            {{compound}}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li ng-repeat="class in row.classes">
                            {{class}}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li ng-repeat="acc in row.loci">
                            {{acc}}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="25"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


</div>