<div class="container">

    <div class="page-header">
        <h1>Submit
        <small>a new MIBiG entry</small>
        </h1>
    </div>

    <div class="row">
        <p>
            Do you want to update an existing entry? please follow <a href="https://mibig.secondarymetabolites.org/update.html">this link</a> instead.
        </p>
    </div>

    <div class="row">
        <p>
            Once you have <a href="https://mibig.secondarymetabolites.org/request.html">received an MIBiG accession number</a> for your biosynthetic gene cluster, you can start submitting your MIBiG entry.
            <br />Please read the following instructions before commencing:
        </p>
    </div>

    <div class="row">
        <ul style="list-style-type: disc;">
            <li id="bullet">If you have reached step 2 or 3 of the form (not to be confused
            with the three substeps of step 1) and (accidentally) quit the form,
            you can resume your submission <a href="genes_form.html">here</a> (for step 2)
            or <a href="nrpspks_form.html">here</a> (for step 3). After finishing each step,
            your intermediate data is stored to the server.</li>
            <li id="bullet">For MIBiG submission of a biosynthetic gene cluster, a
            GenBank accession number of the gene cluster, contig or genome entry
            that contains it is required. If your sequence data is private and
            pending publication, you may submit it to GenBank/EMBL/DDBJ with
            an embargo until the manuscript is out.</li>
            <li id="bullet">If possible, please use Safari/Firefox/Chrome/Opera. Some functions
            may not work optimally in Internet Explorer.</li>
            <li id="bullet">Parts of the form indicated with arrows can be folded and
            unfolded for optimal readability.</li>
            <li id="bullet">Some parts of the form are optional, others are
            mandatory. Mandatory fields in the first step of the form are marked by asterisks.</li>
            <li id="bullet">The form will validate interactively during the process of filling it out. Fields that need improvement will have
            <a href="images/redlining.png" target="_blank">red lining</a> around them, and the surrounding parts of the form (including the
            top section on page 2) will also be colored red.</li>
            <li id="bullet">We strongly advise to print the 'MIBiG data' page of the first step of the form to PDF before clicking the 'Done' button to move to step 2, in order to avoid losing
            your gathered data in the unlikely case that the session is somehow lost or an error occurs during connection with the server.
            You can easily print the page to PDF using 'Print to PDF' in Safari, or with <a href="https://addons.mozilla.org/nl/firefox/addon/print-edit/" target="_blank">this add-on</a> in Firefox. 
            In the unlikely case that an error occurs, you can then send us the PDF instead and we will process your data manually.</li>
            <li id="bullet">Also, when filing complex submissions, some parts of the form
            (especially "+" and "-" buttons) may respond slowly when the form reaches a large size. Please be patient and do not
            click again before the item has been loaded; otherwise, the form might become unresponsive. If the browser pops up a warning about a busy script, do NOT click "Stop script".</li>
            <li id="bullet">Please provide all information in English.</li>
            <li id="bullet">Please enter all decimal values using point notation.</li>
            <li id="bullet">Make sure you have an active internet connection when you
            submit the form.</li>
            <li id="bullet">If you have questions while filling out the form or if you experience technical difficulties, <a href="mailto:marnix.medema@wur.nl">please
            do contact us</a>. We will try to respond within 24 hours.</li>
        </ul>
    </div>

    <div class="w-100 p-3" style="text-align: center; margin-top: 1em;">
        <a href="https://mibig.secondarymetabolites.org/form2.html">
            <button type="button" class="btn btn-primary">
                Start submission
            </button>
        </a>
    </div>

    <div class="w-100 p-3" style="text-align: center; margin-top: 2em;">
        <small>
            Below you can find a detailed video tutorial that guides you through the process,
            <br />with help of further resources available <a href="https://standardsingenomics.biomedcentral.com/articles/10.1186/s40793-018-0318-y" target="_blank">here</a>.
        </small>
    </div>

    <div class="w-100 p-3" style="text-align: center; margin-top: 1em;">
        <iframe width="840" height="472" src="https://www.youtube.com/embed/CWeNbYmIm-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
    </div>
</div>